@gh:registry=https://grubhub.jfrog.io/artifactory/api/npm/yarn-repos/
@umami:registry=https://grubhub.jfrog.io/artifactory/api/npm/yarn-repos/
@gh-cookbook-react:registry=https://grubhub.jfrog.io/artifactory/api/npm/yarn-repos/
//grubhub.jfrog.io/artifactory/api/npm/yarn-repos/:_authToken=${ARTIFACTORY_NPM_TOKEN}

@grubhubprod:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
